/* --------------------------------------------------------------
* = 样式重置
* ----------------------------------------------------------- */

/* --------------------------------------------------------------
* = 通用样式
* ----------------------------------------------------------- */

.sep {
    margin-bottom: 15px;
}

.pure-button {
    margin-right: 5px;
}

.offside {
    ul {
        padding: 30px;
    }
    .col {
        padding: 0;
        ul {
            padding: 0;
        }
    }
}


/* --------------------------------------------------------------
* = 整体布局, 很多页面共享的页面框架
* ----------------------------------------------------------- */
@media screen and (min-width: 48em) {
    .site {
        position: relative;
        overflow: hidden;
    }
}

.site-main {
    margin-top: 30px;
    padding: 0 30px 0 0;
    @media screen and (max-width: 48em) {
        margin-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}


.page-header {
    border: 3px solid #ddd;
    padding: @padding;
    margin-bottom: @padding-lg;
    .page-title {
        color: @maincolor;
        margin-bottom: 15px;
    }
    .taxonomy-description {
        p {
            margin-bottom: 0;
        }
    }
}



/* --------------------------------------------------------------
* = 页头, 网站顶部内容样式
* ----------------------------------------------------------- */
.site-header {
    background: @maincolor;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
    color: #fff;
    margin-bottom: 15px;
    h1, h3 {
        color: #fff;
    }
}

.site-title {
    a {
        color: #fff;
        font-size: 18px;
    }
    @media screen and (max-width: 48em) {
        height: 44px;
        line-height: 44px;
        a {
            line-height: 44px;
        }
    }
}


/* --------------------------------------------------------------
* = 文章页排版
* ----------------------------------------------------------- */
.hentry {
    h2 {
        border-bottom: 1px dotted #ddd;
        color: @maincolor;
        font-size: 18px;
        padding-bottom: 6px;
    }
    h3 {
        color: #666;
        font-size: 16px;
        border-bottom: 1px solid #eee;
        padding-bottom: 5px;
    }
}

.entry-header {
    margin-bottom: @padding-lg;
    padding-bottom: @padding-md;
    border-bottom: 3px solid @border-color;
}

.entry-title {

}

.entry-content {
    p {
        margin-bottom: 1em;
    }
}

.entry-meta {

}

.entry-footer {
    .entry-tags {
        margin-bottom: 10px;
    }
}

.single {
    .entry-content {
        margin-bottom: 30px;
    }
}



/* --------------------------------------------------------------
* = 首页
* ----------------------------------------------------------- */




/* --------------------------------------------------------------
* = 存档页
* ----------------------------------------------------------- */
.archive {
    .site-main {
        padding: 0 30px 0 0;
        background: transparent;
        @media screen and (max-width: 48em) {
            padding: 15px;
        }
        .media {
            padding: 30px 0;
            &+.media{
                margin-top: 0;
            }
        }
    }
    .hentry {
        background: #fff;
        margin-bottom: @padding-lg;
        border-bottom: 1px solid @border-color;
    }
    .entry-content {
        padding: 0 30px 30px;
        position: relative;
        h2 {
            border: 0;
            margin-top: 0;
            font-size: 1.4em;
        }
    }
    .entry-tags {

    }
}



/* --------------------------------------------------------------
* = 边栏
* ----------------------------------------------------------- */
.widget-area {
    padding-top: 30px;
    & > .col {
        padding-left: 30px;
    }
}

.widget {
    margin-bottom: 50px;
    a {
        color: @text-dark;
        &:hover {
            color: @maincolor;
        }
    }
}

.widget-title {
    margin-bottom: 10px;
    color: #333;
}


.widget_categories{
    ul{
        border-bottom: 1px solid @border-color-darker;
        border-radius: 3px ;
    }
    li{

    }
}

.widget_most_rated,
.widget_recent_entries{
    li{

    }
}

/* --------------------------------------------------------------
* = 页脚
* ----------------------------------------------------------- */
.site-footer {
    border-top: 1px solid #eee;
    padding: 1.5em;
    margin-top: 30px;
}

/* --------------------------------------------------------------
* = 媒体查询
* ----------------------------------------------------------- */